<br />
<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Shopping Cart</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-2 col-lg-1">
          <div class="btn-group-vertical" role="group">
            <a class="btn btn-sm btn-default" rel="nofollow" data-method="patch" href="/cart/update?cloth_instance_id=28&amp;quantity=2"><i class="fa fa-chevron-up"></i></a>
            <button type="button" class="btn btn-sm btn-default" aria-label="Right Align">
              <strong>1</strong>
            </button>
          </div>
        </div>
        <div class="col-xs-3 col-lg-3">
          <img class="img-responsive center-block" src="https://img.trycaviar.com/FsYWtuu9TuFySw43DlCItbKWQ4w=/1134x756/https://s3.amazonaws.com/trycaviar.com/offers/1800/64894-201508030408.jpg" alt="Ca classic sweater stadium atlanta ga">
        </div>
        <div class="col-xs-3 col-lg-4">
          <b>CA Classic Sweater</b>
          <br />
          Blue - L
          <br />
        </div>
        <div class="col-xs-3 col-lg-2">
          <a>Stadium</a>
        </div>
        <div class="col-xs-1 col-lg-1">
          $172
        </div>
        <div class="col-lg-1">
          <form class="button_to" method="post" action="/cart/remove?cloth_instance_id=28"><input type="hidden" name="_method" value="delete"><input class="remove-item pull-right" type="submit" value="x"><input type="hidden" name="authenticity_token" value="cc6pACvSr8Px+rWJAvBFRPO6ONAzc+EvD14xKCTH4n6/BqkpmGeTDkzIg/D+Z1+Ce2I+9HAHYfMBbHxoF6IMYA=="></form>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4 col-lg-2 col-lg-offset-8">
          <h4>Subtotal:</h4>
        </div>
        <div class="col-xs-2 col-lg-1">
          <h4>$172</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4 col-xs-offset-4 col-lg-2 col-lg-offset-8">
          <h4>Delivery:</h4>
        </div>
        <div class="col-xs-4 col-lg-2">
          <div class="form-group">
            <select class="form-control">
              <option>1 hour</option>
              <option>2 hour</option>
            </select>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-lg-9">
          <a href="/city">Continue Shopping</a>
        </div>
        <div class="col-lg-3">
          <a href="/checkout" class="btn btn-default black btn-block pull-right">Checkout</a>
        </div>
      </div>
    </div>
  </div>
</div>