<nav class="navbar navbar-default" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
  <div class="container-fluid">
    <div class="col-lg-10 col-lg-offset-1">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="col-md-12">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a>Restaurants in Atlanta, GA</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Most Popular <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Fastest Delivery</a></li>
            </ul>
          </li>
        </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>
<br />
<div class="col-lg-10 col-lg-offset-1">
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a href="/baraonda" class="thumbnail" data-toggle="modal">
          <h3>Essentials</h3>
          <img class="img-responsive" src="http://i.imgur.com/JbfrV78.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="/baraonda">
          <h3>$5 and Under</h3>
          <img class="img-responsive" src="http://i.imgur.com/ugXiuBd.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="/baraonda">
          <h3>15 Minute Delivery</h3>
          <img class="img-responsive" src="http://i.imgur.com/XIrKXHJ.png" alt="">
        </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <h3>Anticos</h3>
          <img class="img-responsive" src="http://i.imgur.com/E6g0JEz.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="#">
          <h3>Taquiera Del Sol</h3>
          <img class="img-responsive" src="http://i.imgur.com/W0I9w6P.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="#">
          <h3>Burritos & Tacos</h3>
          <img class="img-responsive" src="http://i.imgur.com/U6w6wxp.png" alt="">
        </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a href="/hd" class="thumbnail" data-toggle="modal">
          <h3>Babylon Cafe</h3>
          <img class="img-responsive" src="http://i.imgur.com/qYgBgIP.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="/hd">
          <h3>Bamboo Luau</h3>
          <img class="img-responsive" src="http://i.imgur.com/CCE5vxp.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="#">
          <h3>House Cleaning</h3>
          <img class="img-responsive" src="http://i.imgur.com/HTcQioL.jpg" alt="">
        </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <h3>Baraonda</h3>
          <img class="img-responsive" src="http://i.imgur.com/XIrKXHJ.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="#">
          <h3>Zocalo</h3>
          <img class="img-responsive" src="http://i.imgur.com/m9b9XOW.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="#">
          <h3>Bell Street Burritos</h3>
          <img class="img-responsive" src="http://i.imgur.com/U6w6wxp.png" alt="">
        </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a href="/hd" class="thumbnail" data-toggle="modal">
          <h3>Babylon Cafe</h3>
          <img class="img-responsive" src="http://i.imgur.com/qYgBgIP.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="/apple">
          <h3>Bamboo Luau</h3>
          <img class="img-responsive" src="http://i.imgur.com/CCE5vxp.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="#">
          <h3>Bad Dog Taqueria</h3>
          <img class="img-responsive" src="http://i.imgur.com/5lUeY1S.png" alt="">
        </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <h3>Baraonda</h3>
          <img class="img-responsive" src="http://i.imgur.com/XIrKXHJ.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="#">
          <h3>Zocalo</h3>
          <img class="img-responsive" src="http://i.imgur.com/m9b9XOW.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="#">
          <h3>Bell Street Burritos</h3>
          <img class="img-responsive" src="http://i.imgur.com/U6w6wxp.png" alt="">
        </a>
    </div>
  </div>
</div>

<div class="row text-center">
  <div class="col-lg-12">
    <ul class="pagination">
      <li>
        <a href="#">«</a>
      </li>
      <li class="active">
        <a href="#">1</a>
      </li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
      <li>
        <a href="#">4</a>
      </li>
      <li>
        <a href="#">5</a>
      </li>
      <li>
        <a href="#">»</a>
      </li>
    </ul>
  </div>
</div>