<nav class="navbar navbar-default" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

      <div class="col-md-12">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a>Clothes in Atlanta, GA</a></li>
        </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><b>Stores</b></a></li>
          <li><a href="#">Clothes</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br />
<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a href="/store" class="thumbnail" data-toggle="modal">
          <h3>Urban Outfitters</h3>
          <img class="img-responsive" src="http://i.imgur.com/4ZBiNqp.jpg" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="#">
          <h3>Free People</h3>
          <img class="img-responsive" src="http://i.imgur.com/LKJ5FyR.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="#">
          <h3>Wish</h3>
          <img class="img-responsive" src="http://i.imgur.com/PBaZihv.png" alt="">
        </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <h3>American Apparel</h3>
          <img class="img-responsive" src="http://i.imgur.com/Or0L7mf.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="#">
          <h3>Lululemon</h3>
          <img class="img-responsive" src="http://i.imgur.com/ZTUDYGa.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="#">
          <h3>J Crew</h3>
          <img class="img-responsive" src="http://i.imgur.com/wgJImz1.png" alt="">
        </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-6 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <img class="img-responsive" src="http://i.imgur.com/C9iatA5.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
          <img class="img-responsive" src="http://s3.amazonaws.com/refresh-staging2/clothes/images/000/000/032/medium/CA-Classic-Sweater-Stadium-Atlanta-GA.png?1445034425" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
          <img class="img-responsive" src="http://s3.amazonaws.com/refresh-staging2/clothes/images/000/000/049/medium/Bowery-Coat-Billy-Reid-Atlanta-GA.png?1445037824" alt="">
        </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-6 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <img class="img-responsive" src="http://s3.amazonaws.com/refresh-staging2/clothes/images/000/000/082/medium/Blonde-Tortoise-Lupetto-Sunglasses-TWEEDS-Atlanta-GA.png?1445063590" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
          <img class="img-responsive" src="http://s3.amazonaws.com/refresh-staging2/clothes/images/000/000/032/medium/CA-Classic-Sweater-Stadium-Atlanta-GA.png?1445034425" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
          <img class="img-responsive" src="http://s3.amazonaws.com/refresh-staging2/clothes/images/000/000/049/medium/Bowery-Coat-Billy-Reid-Atlanta-GA.png?1445037824" alt="">
        </a>
    </div>
  </div>
</div>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="col-xs-8">
          <h4>Clothing Name - Store Name</h4>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <img src="http://s3.amazonaws.com/refresh-staging2/clothes/images/000/000/455/original/Stadium-Thunder-Cone-T-Shirt-Stadium-Atlanta-GA.png?1445416772" class="img-responsive"/>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="modal-footer">
        <div class="col-xs-12">
          <form class="new_cloth_instance" id="new_cloth_instance" action="/cart/add" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="8226/mApBxw72z2PTDUf5iKMkaXzxuv8RCx2uLBAcXDB4vZHraX3px2sp2/ctkl8uWHx3HfVK9uZn8zcJDFqBw==">
            <input name="quantity" value="1" type="hidden" id="cloth_instance_quantity">
            <input value="8" type="hidden" name="cloth_instance[store_id]" id="cloth_instance_store_id">

            <div class="col-xs-3">
              <select name="size" id="size" class="form-control js-size-select"><option value="L" data-cloth-variants="[{&quot;id&quot;:100,&quot;color&quot;:&quot;Blue&quot;}]">L</option></select>
            </div>
            <div class="col-xs-4">
              <select class="form-control js-color-select" name="cloth_instance[cloth_variant_id]" id="cloth_instance_cloth_variant_id"><option value="100">Blue</option></select>
            </div>
            <div class="col-xs-2 col-xs-offset-1">
              <h3 style="margin-top:0px;">$172</h3>
            </div>
            <br><br>
            <div class="col-xs-12">
              <button type="button" class="btn btn-block black btn-success" data-dismiss="modal">
                <i class="fa fa-plus"></i> Add
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row text-center">
  <div class="col-lg-12">
    <ul class="pagination">
      <li>
        <a href="#">«</a>
      </li>
      <li class="active">
        <a href="#">1</a>
      </li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
      <li>
        <a href="#">4</a>
      </li>
      <li>
        <a href="#">5</a>
      </li>
      <li>
        <a href="#">»</a>
      </li>
    </ul>
  </div>
</div>