<br />
<div class="col-lg-8 col-lg-offset-2">
  <div class="row">
    <div class="col-sm-6 thumb">
        <a href="/store" class="thumbnail" data-toggle="modal">
          <h3>Breakfast</h3>
          <img class="img-responsive" src="http://i.imgur.com/NAELtKe.png" alt="">
        </a>
    </div>
    <div class="col-sm-6 thumb">
        <a class="thumbnail" href="/store">
          <h3>Lunch</h3>
          <img class="img-responsive" src="http://i.imgur.com/pC1R4Rx.png" alt="">
        </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 thumb">
        <a class="thumbnail" href="/store">
          <h3>Dinner</h3>
          <img class="img-responsive" src="http://i.imgur.com/joxObQH.png" alt="">
        </a>
    </div>
    <div class="col-sm-6 thumb">
        <a class="thumbnail" href="/store">
          <h3>Essentials</h3>
          <img class="img-responsive" src="http://i.imgur.com/JbfrV78.png" alt="">
        </a>
    </div>
  </div>
</div>