<br />
<div class="col-lg-10 col-lg-offset-1">
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a href="/baraonda" class="thumbnail" data-toggle="modal">
          <h3>Essentials</h3>
          <img class="img-responsive" src="http://i.imgur.com/JbfrV78.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="/baraonda">
          <h3>Breakfast</h3>
          <h4>15 Mins</h4>
          <img class="img-responsive" src="http://i.imgur.com/NAELtKe.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="/baraonda">
          <h3>School Supplies</h3>
          <img class="img-responsive" src="http://i.imgur.com/R90o4qF.png" alt="">
        </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="#">
          <h3>Drinks</h3>
          <img class="img-responsive" src="http://i.imgur.com/gCnDvZK.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <h3>Snacks</h3>
          <img class="img-responsive" src="http://i.imgur.com/wXAIENs.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="/hd">
          <h3>Gifts</h3>
          <img class="img-responsive" src="http://i.imgur.com/Wx0ri8K.png" alt="">
        </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a href="/hd" class="thumbnail" data-toggle="modal">
          <h3>Bath & Body</h3>
          <img class="img-responsive" src="http://i.imgur.com/NlM2fxU.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="#">
          <h3>Vices</h3>
          <img class="img-responsive" src="http://i.imgur.com/AXcI88H.png?1" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="#">
          <h3>House Cleaning</h3>
          <img class="img-responsive" src="http://i.imgur.com/HTcQioL.jpg" alt="">
        </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <h3>Baraonda</h3>
          <img class="img-responsive" src="http://i.imgur.com/XIrKXHJ.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="#">
          <h3>Zocalo</h3>
          <img class="img-responsive" src="http://i.imgur.com/m9b9XOW.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="#">
          <h3>Bell Street Burritos</h3>
          <img class="img-responsive" src="http://i.imgur.com/U6w6wxp.png" alt="">
        </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a href="/hd" class="thumbnail" data-toggle="modal">
          <h3>Babylon Cafe</h3>
          <img class="img-responsive" src="http://i.imgur.com/qYgBgIP.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="/apple">
          <h3>Bamboo Luau</h3>
          <img class="img-responsive" src="http://i.imgur.com/CCE5vxp.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="#">
          <h3>Bad Dog Taqueria</h3>
          <img class="img-responsive" src="http://i.imgur.com/5lUeY1S.png" alt="">
        </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <h3>Baraonda</h3>
          <img class="img-responsive" src="http://i.imgur.com/XIrKXHJ.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="#">
          <h3>Zocalo</h3>
          <img class="img-responsive" src="http://i.imgur.com/m9b9XOW.png" alt="">
        </a>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 thumb">
        <a class="thumbnail" href="#">
          <h3>Bell Street Burritos</h3>
          <img class="img-responsive" src="http://i.imgur.com/U6w6wxp.png" alt="">
        </a>
    </div>
  </div>
</div>

<div class="row text-center">
  <div class="col-lg-12">
    <ul class="pagination">
      <li>
        <a href="#">«</a>
      </li>
      <li class="active">
        <a href="#">1</a>
      </li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
      <li>
        <a href="#">4</a>
      </li>
      <li>
        <a href="#">5</a>
      </li>
      <li>
        <a href="#">»</a>
      </li>
    </ul>
  </div>
</div>