<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="block-images col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav secondary">
        <li><a href="/store">Breakfast</a></li>
        <li><a href="/lunch">Lunch</a></li>
        <li class="active"><a href="/dinner"><b>Dinner</b></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="jumbotron" style="background:#fff;">
<h1 class="text-center">Dinner Menu</h1>
<h3 class="text-center">5:30pm - 10:00pm</h3>
</div>


<br class="items-list-break" />
<div class="col-md-10 col-md-offset-1 items-list">
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="http://i.imgur.com/WhGSai6.jpg" class="img-responsive" />
			<div class="panel-body food-items">
				<div class="col-xs-12">
					<h3>Chick-Fil-A Sandwich</h3>
				</div>
				<div class="col-xs-9">
					<p>Boneless breast of chicken, seasoned to perfection and served on a buttermilk biscuit.</p>
				</div>
				<div class="col-xs-3">
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="http://i.imgur.com/VQh8tul.png" class="img-responsive" />
			<div class="panel-body food-items">
				<div class="col-xs-12">
					<h3>Dasani Water</h3>
				</div>
				<div class="col-xs-9">
					<p>Lightly roasted coffee that's soft, mellow and flavorful.</p>
				</div>
				<div class="col-xs-3">
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="http://i.imgur.com/NkOXDdK.png" class="img-responsive" />
			<div class="panel-body food-items">
				<div class="col-xs-12">
					<h3>Thai Mango Salad</h3>
				</div>
				<div class="col-xs-9">
					<p>Item description</p>
				</div>
				<div class="col-xs-3">
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="http://d2118lkw40i39g.cloudfront.net/wp-content/uploads/2015/07/chipotle-burrito-bowl-1.jpg" class="img-responsive" />
			<div class="panel-body food-items">
				<div class="col-xs-12">
					<h3>Chicken Burrito Bowl</h3>
				</div>
				<div class="col-xs-9">
					<p>Comes with chicken and rice.  Optional beans, fajita veggies, salsa, guacamole, sour cream and cheese.</p>
				</div>
				<div class="col-xs-3">
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="http://i.imgur.com/kVcCfCZ.jpg" class="img-responsive" />
			<div class="panel-body food-items">
				<div class="col-xs-12">
					<h3>Sparkling Clementine Izze</h3>
				</div>
				<div class="col-xs-9">
					<p>Item description</p>
				</div>
				<div class="col-xs-3">
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="http://i.imgur.com/31RUocB.png" class="img-responsive" />
			<div class="panel-body food-items">
				<div class="col-xs-12">
					<h3>Jersey Mike's Turkey Sub</h3>
				</div>
				<div class="col-xs-9">
					<p>Item description</p>
				</div>
				<div class="col-xs-3">
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
</div>
