<%= render 'layouts/sign_in' %>

<div class="jumbotron landing-header">
	<br /><br /><br />
	<br class="hidden-xs" />
	<br class="hidden-xs" />
	<br class="hidden-xs" />
	<br class="hidden-xs" />
	<h1 class="text-center hidden-xs hidden-sm">15 Minute Delivery</h1>
	<h2 class="text-center hidden-md hidden-lg">15 Minute Delivery</h2>
	<h3 class="text-center hidden-xs hidden-sm">The best meals delivered for $2</h3>
	<h4 class="text-center hidden-md hidden-lg">The best meals delivered for $2</h4>
	<br />
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4">
		<div class="input-group">
		  <input type="text" class="form-control landing-address" placeholder="Enter your address">
		  <span class="input-group-btn">
		    <button class="btn btn-default landing-address landing-button" type="button">
		   	  <i class="fa fa-chevron-right"></i>
		    </button>
		  </span>
		</div><!-- /input-group -->
	</div><!-- /.col-lg-6 -->
	<div class="clearfix"></div>

	<br class="hidden-xs" />
	<br /><br /><br />
	<br /><br /><br />
	<br class="hidden-xs" />
</div>
