<%= render 'layouts/sign_in' %>

<div class="jumbotron landing-header">
	<img src="http://i.imgur.com/suNGJcN.png" class="landing-logo center-block" />
	<a class="landing-login" data-toggle="modal" data-dismiss="modal" href="#loginModal">Login</a>
	<br /><br /><br /><br /><br /><br /><br />
	<h1 class="text-center hidden-xs hidden-sm">Food Delivery, Done Right</h1>
	<h2 class="text-center hidden-md hidden-lg">Food Delivery, Done Right</h2>
	<h3 class="text-center hidden-xs hidden-sm">The best food, in 30 minutes.</h3>
	<h4 class="text-center hidden-md hidden-lg">The best food, in 30 minutes.</h4>
	<br /><br /><br /><br />
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
		<div class="input-group">
		  <input type="text" class="form-control landing-address" placeholder="Enter your address">
		  <span class="input-group-btn">
		    <button class="btn btn-default landing-address landing-button" type="button">
		   	  <i class="fa fa-chevron-right"></i>
		    </button>
		  </span>
		</div><!-- /input-group -->
	</div><!-- /.col-lg-6 -->
	<div class="clearfix"></div>
	<br /><br />
	<br class="hidden-xs" />
</div>
<div class="jumbotron" style="background:#fff;">
<div class="row">
	  <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-lg-4 thumb">
      <img class="img-responsive" src="http://i.imgur.com/s590tjE.png" alt="">
	  </div>
	  <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-lg-4 thumb">
      <img class="img-responsive" src="http://i.imgur.com/0gi3XHc.png" alt="">
	  </div>
	  <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-lg-4 thumb">
      <img class="img-responsive" src="http://i.imgur.com/ujPBiWJ.png" alt="">
	  </div>
	</div>
</div>
<div class="jumbotron">
	<h2 class="text-center hidden-xs hidden-sm">Easily find products in your area and get it delivered to your door, fast.</h2>
	<h3 class="text-center hidden-md hidden-lg">Easily find products in your area and get it delivered to your door, fast.</h3>
	<br /><br />
	<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
		<a href="/city" class="btn btn-default green btn-block btn-lg">Explore</a>
	</div>
	<br />
	<br />
	<br />
</div>
