<%= render 'layouts/sign_in' %>

<div class="jumbotron landing-header">
	<br /><br /><br />
	<br class="hidden-xs" />
	<br class="hidden-xs" />
	<br class="hidden-xs" />
	<br class="hidden-xs" />
	<h1 class="text-center hidden-xs hidden-sm">Your City, On-Demand</h1>
	<h2 class="text-center hidden-md hidden-lg">Your City, On-Demand</h2>
	<h3 class="text-center hidden-xs hidden-sm">Get the best stuff, fast.</h3>
	<h4 class="text-center hidden-md hidden-lg">Get the best stuff, fast.</h4>
	<br />
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4">
		<div class="input-group">
		  <input type="text" class="form-control landing-address" placeholder="Enter your address">
		  <span class="input-group-btn">
		    <button class="btn btn-default landing-address landing-button" type="button">
		   	  <i class="fa fa-chevron-right"></i>
		    </button>
		  </span>
		</div><!-- /input-group -->
	</div><!-- /.col-lg-6 -->
	<div class="clearfix"></div>
	<br class="hidden-xs" />
	<br class="hidden-xs" />
	<br class="hidden-xs" />
	<br class="hidden-xs" />
	<br /><br /><br />
	<br /><br /><br />
	<br class="hidden-xs" />
</div>
<div class="jumbotron" style="background:#fff;">
	<div class="row">
	  <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-lg-4 thumb">
      	<img class="img-responsive" src="http://i.imgur.com/s590tjE.png" alt="">
	  </div>
	  <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-lg-4 thumb">
      	<img class="img-responsive" src="http://i.imgur.com/0gi3XHc.png" alt="">
	  </div>
	  <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-lg-4 thumb">
      	<img class="img-responsive" src="http://i.imgur.com/ujPBiWJ.png" alt="">
	  </div>
	</div>
</div>


<div class="jumbotron">
	<h2 class="text-center hidden-xs hidden-sm">Easily find products in your area and get it delivered to your door, fast.</h2>
	<h3 class="text-center hidden-md hidden-lg">Easily find products in your area and get it delivered to your door, fast.</h3>
	<br /><br />
	<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
		<a href="/city" class="btn btn-default black btn-block btn-lg">Explore</a>
	</div>
	<br />
	<br />
	<br />
</div>



