<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="block-images col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav secondary">
        <li class="active"><a href="#"><b>Breakfast</b></a></li>
        <li><a href="#">Lunch</a></li>
        <li><a href="#">Dinner</a></li>
        <li><a href="#">Essentials</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="jumbotron" style="background:#fff;">
<h1 class="text-center">Breakfast</h1>
<h3 class="text-center">7:00am - 10:30am</h3>
</div>


<br />
<div class="col-md-10 col-md-offset-1">
	<div class="col-md-4">
		<div class="panel panel-default">
			<img src="https://cdn3.sweetgreen.com/uploads/production/images/1171/1874/Shot_01_030_seed.jpg?b=1447892743000" class="img-responsive" />
			<div class="panel-body">
				<h3>Food Name</h3>
				<p>Item description</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="panel panel-default">
			<img src="https://cdn4.sweetgreen.com/uploads/production/images/2411/2413/ApplePearsCheddarSalad-1.jpg?b=1447892735000" class="img-responsive" />
			<div class="panel-body">
				<h3>Food Name</h3>
				<p>Item description</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<img src="https://cdn4.sweetgreen.com/uploads/production/images/2411/2413/ApplePearsCheddarSalad-1.jpg?b=1447892735000" class="img-responsive" />
			<div class="panel-body">
				<h3>Food Name</h3>
				<p>Item description</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<img src="https://cdn3.sweetgreen.com/uploads/production/images/1171/1874/Shot_01_030_seed.jpg?b=1447892743000" class="img-responsive" />
			<div class="panel-body">
				<h3>Food Name</h3>
				<p>Item description</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<img src="https://cdn4.sweetgreen.com/uploads/production/images/2411/2413/ApplePearsCheddarSalad-1.jpg?b=1447892735000" class="img-responsive" />
			<div class="panel-body">
				<h3>Food Name</h3>
				<p>Item description</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<img src="https://cdn4.sweetgreen.com/uploads/production/images/2411/2413/ApplePearsCheddarSalad-1.jpg?b=1447892735000" class="img-responsive" />
			<div class="panel-body">
				<h3>Food Name</h3>
				<p>Item description</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<img src="https://cdn3.sweetgreen.com/uploads/production/images/1171/1874/Shot_01_030_seed.jpg?b=1447892743000" class="img-responsive" />
			<div class="panel-body">
				<h3>Food Name</h3>
				<p>Item description</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<img src="https://cdn4.sweetgreen.com/uploads/production/images/2411/2413/ApplePearsCheddarSalad-1.jpg?b=1447892735000" class="img-responsive" />
			<div class="panel-body">
				<h3>Food Name</h3>
				<p>Item description</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<img src="https://cdn4.sweetgreen.com/uploads/production/images/2411/2413/ApplePearsCheddarSalad-1.jpg?b=1447892735000" class="img-responsive" />
			<div class="panel-body">
				<h3>Food Name</h3>
				<p>Item description</p>
			</div>
		</div>
	</div>
</div>