<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="block-images col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav secondary">
        <li class="active"><a href="#"><b>Breakfast</b></a></li>
        <li><a href="#">Lunch</a></li>
        <li><a href="#">Dinner</a></li>
        <li><a href="#">Essentials</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="jumbotron" style="background:#fff;">
<h1 class="text-center">Breakfast</h1>
<h3 class="text-center">7:00am - 10:30am</h3>
</div>


<br class="items-list-break" />
<div class="col-md-10 col-md-offset-1 items-list">
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="http://i.imgur.com/gK2tUIx.jpg" class="img-responsive" />
			<div class="panel-body">
				<div class="col-xs-8">
					<h3>Chicken Biscuit</h3>
					<p>Item description</p>
				</div>
				<div class="col-xs-4">
					<br />
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="http://viralpirate.com/wp-content/uploads/2015/08/Starbucks_drink.png" class="img-responsive" />
			<div class="panel-body">
				<div class="col-xs-8 col-md-10">
					<h3>Starbucks Coffee</h3>
					<p>Item description</p>
				</div>
				<div class="col-xs-4 col-md-2">
					<br />
					<br />
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="http://i.imgur.com/QGCfVMe.jpg" class="img-responsive" />
			<div class="panel-body">
				<div class="col-xs-8">
					<h3>Krispy Kreme</h3>
					<p>Item description</p>
				</div>
				<div class="col-xs-4">
					<br />
					<br />
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="https://cdn4.sweetgreen.com/uploads/production/images/2411/2413/ApplePearsCheddarSalad-1.jpg?b=1447892735000" class="img-responsive" />
			<div class="panel-body">
				<div class="col-xs-8">
					<h3>Yogurt Parfait</h3>
					<p>Item description</p>
				</div>
				<div class="col-xs-4">
					<br />
					<br />
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="http://blog.chegg.com/wp-content/uploads/2013/06/parfait.jpg" class="img-responsive" />
			<div class="panel-body">
				<div class="col-xs-8">
					<h3>Yogurt Parfait</h3>
					<p>Item description</p>
				</div>
				<div class="col-xs-4">
					<br />
					<br />
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="https://cdn4.sweetgreen.com/uploads/production/images/2411/2413/ApplePearsCheddarSalad-1.jpg?b=1447892735000" class="img-responsive" />
			<div class="panel-body">
				<div class="col-xs-8">
					<h3>Yogurt Parfait</h3>
					<p>Item description</p>
				</div>
				<div class="col-xs-4">
					<br />
					<br />
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="https://cdn4.sweetgreen.com/uploads/production/images/2411/2413/ApplePearsCheddarSalad-1.jpg?b=1447892735000" class="img-responsive" />
			<div class="panel-body">
				<div class="col-xs-8">
					<h3>Yogurt Parfait</h3>
					<p>Item description</p>
				</div>
				<div class="col-xs-4">
					<br />
					<br />
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="https://cdn4.sweetgreen.com/uploads/production/images/2411/2413/ApplePearsCheddarSalad-1.jpg?b=1447892735000" class="img-responsive" />
			<div class="panel-body">
				<div class="col-xs-8">
					<h3>Yogurt Parfait</h3>
					<p>Item description</p>
				</div>
				<div class="col-xs-4">
					<br />
					<br />
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="https://cdn4.sweetgreen.com/uploads/production/images/2411/2413/ApplePearsCheddarSalad-1.jpg?b=1447892735000" class="img-responsive" />
			<div class="panel-body">
				<h3>Food Name</h3>
				<p>Item description</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="https://cdn4.sweetgreen.com/uploads/production/images/2411/2413/ApplePearsCheddarSalad-1.jpg?b=1447892735000" class="img-responsive" />
			<div class="panel-body">
				<div class="col-xs-8">
					<h3>Yogurt Parfait</h3>
					<p>Item description</p>
				</div>
				<div class="col-xs-4">
					<br />
					<br />
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="https://cdn4.sweetgreen.com/uploads/production/images/2411/2413/ApplePearsCheddarSalad-1.jpg?b=1447892735000" class="img-responsive" />
			<div class="panel-body">
				<div class="col-xs-8">
					<h3>Yogurt Parfait</h3>
					<p>Item description</p>
				</div>
				<div class="col-xs-4">
					<br />
					<br />
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="https://cdn4.sweetgreen.com/uploads/production/images/2411/2413/ApplePearsCheddarSalad-1.jpg?b=1447892735000" class="img-responsive" />
			<div class="panel-body">
				<div class="col-xs-8">
					<h3>Yogurt Parfait</h3>
					<p>Item description</p>
				</div>
				<div class="col-xs-4">
					<br />
					<br />
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
</div>
