<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="block-images col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav secondary">
        <li class="active"><a href="#"><b>Breakfast</b></a></li>
        <li><a href="/lunch">Lunch</a></li>
        <li><a href="#">Dinner</a></li>
        <li><a href="#">Essentials</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="jumbotron" style="background:#fff;">
<h1 class="text-center">Breakfast</h1>
<h3 class="text-center">7:00am - 10:30am</h3>
</div>


<br class="items-list-break" />
<div class="col-md-10 col-md-offset-1 items-list">
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="http://i.imgur.com/gK2tUIx.jpg" class="img-responsive" />
			<div class="panel-body">
				<div class="col-xs-12">
					<h3>Chick-Fil-A Chicken Biscuit</h3>
				</div>
				<div class="col-xs-9">
					<p>Boneless breast of chicken, seasoned to perfection and served on a buttermilk biscuit.</p>
				</div>
				<div class="col-xs-3">
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="http://viralpirate.com/wp-content/uploads/2015/08/Starbucks_drink.png" class="img-responsive" />
			<div class="panel-body">
				<div class="col-xs-12">
					<h3>Starbucks Blonde Roast</h3>
				</div>
				<div class="col-xs-9">
					<p>Lightly roasted coffee that's soft, mellow and flavorful.</p>
				</div>
				<div class="col-xs-3">
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="http://i.imgur.com/QGCfVMe.jpg" class="img-responsive" />
			<div class="panel-body">
				<div class="col-xs-12">
					<h3>Krispy Kreme Donut</h3>
				</div>
				<div class="col-xs-9">
					<p>Item description</p>
				</div>
				<div class="col-xs-3">
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="http://blog.chegg.com/wp-content/uploads/2013/06/parfait.jpg" class="img-responsive" />
			<div class="panel-body">
				<div class="col-xs-12">
					<h3>Chick-Fil-A Yogurt Parfait</h3>
				</div>
				<div class="col-xs-9">
					<p>Item description</p>
				</div>
				<div class="col-xs-3">
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="http://i.imgur.com/Z2Ng69u.png" class="img-responsive" />
			<div class="panel-body">
				<div class="col-xs-12">
					<h3>Tropicana Orange Juice</h3>
				</div>
				<div class="col-xs-9">
					<p>Item description</p>
				</div>
				<div class="col-xs-3">
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<img src="http://i.imgur.com/uVyfoQ4.png" class="img-responsive" />
			<div class="panel-body">
				<div class="col-xs-12">
					<h3>Blueberry Muffin</h3>
				</div>
				<div class="col-xs-9">
					<p>Item description</p>
				</div>
				<div class="col-xs-3">
					<a href="" class="btn btn-default green pull-right">+ Add</a>
				</div>
			</div>
		</div>
	</div>
</div>
