<body style="background:#fff;">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
    <div class="block-images col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav secondary">
        <li class="active"><a href="#"><b>Breakfast</b> 7-10am</a></li>
        <li><a href="#">Lunch</a></li>
        <li><a href="#">Dinner</a></li>
        <li><a href="#">Essentials</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="block-images col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

  


	<div class="row">
	  <div class="col-xs-12 col-sm-6 thumb block-images">
	      <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <h3>Krispy Kreme Donuts</h3>
          <h4>$2</h4>
	        <img class="img-responsive" src="http://i.imgur.com/hrrwGCh.png" alt="">
	      </a>
	  </div>
	  <div class="col-xs-12 col-sm-6 thumb block-images">
	      <a class="thumbnail" href="#">
          <h3>Yogurt Parfait</h3>
          <h4>$2</h4>
	        <img class="img-responsive" src="http://i.imgur.com/mBlzmo2.png" alt="">
	      </a>
	  </div>
  </div>
  <div class="row">
	  <div class="col-xs-12 col-sm-6 thumb block-images">
	      <a class="thumbnail" href="#">
          <h3>Coffee</h3>
          <h4>$2</h4>
	        <img class="img-responsive" src="http://i.imgur.com/qywJiWc.png" alt="">
	      </a>
	  </div>
    <div class="col-xs-12 col-sm-6 thumb block-images">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <h3>Chicken Biscuit</h3>
          <h4>$3</h4>
          <img class="img-responsive" src="http://i.imgur.com/rXsg6XD.png" alt="">
        </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 thumb block-images">
        <a class="thumbnail" href="#">
        <h3>Clif Bar</h3>
          <h4>$12</h4>
            <img class="img-responsive" src="http://i.imgur.com/2tohvxs.png" alt="">
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 thumb block-images">
        <a class="thumbnail" href="#">
        <h3>Babylon Special</h3>
          <h4>$12</h4>
            <img class="img-responsive" src="http://i.imgur.com/2tohvxs.png" alt="">
        </a>
    </div>
  </div>
</div>

<div class="row text-center">
  <div class="col-xs-12">
	  <ul class="pagination">
      <li>
        <a href="#">«</a>
      </li>
      <li class="active">
        <a href="#">1</a>
      </li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
      <li>
        <a href="#">4</a>
      </li>
      <li>
        <a href="#">5</a>
      </li>
      <li>
        <a href="#">»</a>
      </li>
	  </ul>
  </div>
</div>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="col-xs-8">
        	<h4 class="modal-heading">Donut - Krispy Kreme</h4>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="modal-body">
      	<div class="col-md-12">
      		<img src="http://i.imgur.com/mBlzmo2.png" class="img-responsive"/>
      	</div>
      	<div class="clearfix"></div>
      </div>

    	<div class="modal-footer">
      	<div class="col-xs-12">
          <form class="new_cloth_instance" id="new_cloth_instance" action="/cart/add" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="8226/mApBxw72z2PTDUf5iKMkaXzxuv8RCx2uLBAcXDB4vZHraX3px2sp2/ctkl8uWHx3HfVK9uZn8zcJDFqBw==">
            <input name="quantity" value="1" type="hidden" id="cloth_instance_quantity">
            <input value="8" type="hidden" name="cloth_instance[store_id]" id="cloth_instance_store_id">

            <div class="col-xs-3">
              <select name="size" id="size" class="form-control js-size-select"><option value="L" data-cloth-variants="[{&quot;id&quot;:100,&quot;color&quot;:&quot;Blue&quot;}]">L</option></select>
            </div>
            <div class="col-xs-4">
              <select class="form-control js-color-select" name="cloth_instance[cloth_variant_id]" id="cloth_instance_cloth_variant_id"><option value="100">Blue</option></select>
            </div>
            <div class="col-xs-2 col-xs-offset-1">
            	<h3 style="margin-top:0px;">$172</h3>
          	</div>
            <br><br>
            <div class="col-xs-12">
              <button type="button" class="btn btn-block green btn-success" data-dismiss="modal">
      					<i class="fa fa-plus"></i> Add
      				</button>
						</div>
					</form>
				</div>
      </div>
    </div>
  </div>
</div>
</div>
