<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body p-a-0 js-modalBody">
        <form class="m-x-auto text-center app-login-form" role="form" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="HnZ3QmMvnQlEk3rr+Fqe/z81fZSd4EiWXFRwxC71NzedRfJn4IEWelmRCvL0+m/nxBtwwF6k9FkExqzf24+JxA==">
          <a href="/" class="app-brand m-b-lg">
            <img src="http://i.imgur.com/mJLWHVZ.png" alt="brand">
          </a>
          <div class="form-group">
            <a class="fb-button" href="/users/auth/facebook">
              <span class="facebook"></span> Login with Facebook
            </a>
          </div>
          <hr>
          <div class="form-group">
            <input autofocus="autofocus" required="required" class="form-control" placeholder="Email" type="email" value="" name="user[email]" id="user_email">
          </div>
          <div class="form-group m-b-md">
            <input required="required" class="form-control" placeholder="Password" type="password" name="user[password]" id="user_password">
          </div>
          <div class="m-b-lg">
            <button name="button" type="submit" class="btn btn-block btn-default black">Log In</button>
            <br><br>
            <a data-toggle="modal" data-dismiss="modal" href="#registerModal">Sign up</a> | 
            <a data-toggle="modal" data-dismiss="modal" href="#passwordModal">Forgot password</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
